*.gem
node_modules/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Jekyll stuff
.jekyll-metadata
_site

# ignore the sass cache
.sass-cache

# Ignore Mac DS_Store files
.DS_Store
demo/bak-sba-lenders.md
demo/bak-resource-partners-grantees.md
_data/bak-navigation.yml
