// Color
$color-sba-blue:             #002e6d;
$color-sba-blue-dark:        #000441;
$color-sba-blue-light:		 #41569c;

$color-sba-red:              #cc0000;
$color-sba-red-dark:         #930000;
$color-sba-red-light:        #ff4f30;

$color-sba-gray:             #969696;
$color-sba-gray-dark:        #686868;
$color-sba-gray-light:       #c5c5c5;
$color-sba-gray-lighter:     #f5f5f5;

$color-secondary-blue:       #007dbc;
$color-secondary-blue-dark:  #00518b;
$color-secondary-blue-light: #58acef;

$color-blue:                 #0071bc;
$color-blue-darker:          #205493;
$color-blue-darkest:         #112e51;

$color-secondary-black-ish:  #1b1e29;

$color-aqua:                 #02bfe7;
$color-aqua-dark:            #00a6d2;
$color-aqua-darkest:         #046b99;
$color-aqua-light:           #9bdaf1;
$color-aqua-lightest:        #e1f3f8;

$color-red:                  #e31c3d;
$color-red-dark:             #cd2026;
$color-red-darkest:          #981b1e;
$color-red-light:            #e59393;
$color-red-lightest:         #f9dede;

$color-white:                #ffffff;
$color-black:                #000000;
$color-black-light:          #212121;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b;
$color-gray-medium:          #757575;
$color-gray-light:           #aeb0b5;
$color-gray-lighter:         #d6d7d9;
$color-gray-lightest:        #f1f1f1;

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0;
$color-gray-cool-light:      #dce4ef;

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642;
$color-gold-lighter:         #fad980;
$color-gold-lightest:        #fff1d2;

$color-green:                #2e8540;
$color-green-light:          #4aa564;
$color-green-lighter:        #94bfa2;
$color-green-lightest:       #e7f4e4;

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa;
$color-cool-blue-lighter:    #8ba6ca;
$color-cool-blue-lightest:   #dce4ef;

$color-purple:               #4c2c92;

// Functional colors
$color-primary:              $color-sba-blue;
$color-primary-darker:       $color-sba-blue-dark;
$color-primary-darkest:      $color-sba-blue-dark;

$color-primary-alt:          $color-aqua;
$color-primary-alt-dark:     $color-aqua-dark;
$color-primary-alt-darkest:  $color-aqua-darkest;
$color-primary-alt-light:    $color-aqua-light;
$color-primary-alt-lightest: $color-aqua-lightest;

$color-secondary:            $color-sba-red;
$color-secondary-dark:       $color-sba-red-dark;
$color-secondary-darkest:    $color-sba-red-dark;
$color-secondary-light:      $color-sba-red-light;
$color-secondary-lightest:   $color-sba-red-light;

$color-base:                 $color-secondary-black-ish;
$color-focus:                $color-secondary-blue-light;
$color-visited:              $color-secondary-blue-dark;

$color-shadow:               rgba(#000, 0.3);
$color-transparent:          rgba(#000, 0);
