---
# assets/uswds-overrides.scss
---

// Custom variable
@import 'sba-variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

// Global

html {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	
}

.usa-content p {
	max-width: 75ch;
}

a.usa-button, .usa-button.usa-button-big {
  border-radius: 0;
  background-color: $color-sba-red;
  text-transform: uppercase;
  padding: 15px 22px;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: .6;
  border-radius: 0;
}

.usa-button:hover{
	background-color: $color-sba-red-light;
}


// Typography

a {
	color: $color-secondary-blue;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-sba-blue;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.1em;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
	font-weight: 500;
}

h3 {
	font-size: 2.7rem;
	letter-spacing: -.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.3; }

h5 {
  font-size: 2.1rem;
  letter-spacing: -.3; 
  font-family: 'Merriweather', Georgia, serif;
  font-style: italic;
  color: $color-sba-gray-dark;}

p {
	letter-spacing: -.3;
	color: $color-secondary-black-ish;
}

hr {
	margin: 30px 0;
}

// Homepage

.usa-section-dark {
  background-color: $color-white;
  border-top: 5px $color-sba-blue solid;
}

.usa-section-dark h1, .usa-section-dark h2, .usa-section-dark h3, .usa-section-dark h4, .usa-section-dark h5, .usa-section-dark h6 {
    color: $color-sba-blue;
    
}

.usa-section-dark p, .usa-font-lead {
	color: $color-sba-gray-dark;
	font-family: 'Merriweather', Georgia, serif;
	font-size: 2.1rem;
	font-style: italic;
}

.usa-section-dark h2 {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 6rem;
	line-height: .9em;
}

.usa-graphic_list {
	background-color: $color-white;
	border-top: none;
}

.usa-section-dark a {
	color:$color-secondary-blue;
}

.usa-section-dark a:hover {
	color: $color-secondary-blue-light;
}

.usa-media_block-img {
	max-width: 130px;
}

.usa-hero-callout {
	max-width: 380px;
}


//Side nav

.usa-sidenav-list > li{
	border-top: 1px solid $color-sba-gray-light;
}

.usa-sidenav-list a.usa-current {
	font-weight: 600;
}

.usa-sidenav-list a:hover {
	background-color: #58acef;
}

// Header + nav

.usa-logo-text a{
	color: $color-sba-blue;
	font-weight: 500;
	padding-left: 6rem;
	line-height: 50px;
	font-size: 2rem;
}

.usa-nav-primary li a, .usa-nav-link, .usa-nav .usa-accordion-button span {
	font-size: 1.8rem;
	font-weight: 500;
	color: $color-secondary-black-ish;

}

.usa-navbar {
	height: 50px;
}
.usa-logo {
	margin-top: none;
	margin-bottom: none;
	background-image: url("sba/img/logos/lettermark-small.svg");
	background-repeat: no-repeat;
	height: 5rem;
	float: none;
	display: block;
	padding: none;
}

.usa-menu-btn {
	height: 5rem;
}

.usa-nav-primary a.usa-current span, .usa-nav-primary .usa-current span {
	color: $color-sba-blue;
	font-weight: 600;
}



.usa-nav-secondary-links a, .usa-nav-secondary-links .usa-header-search-button {
	line-height: 40px;
}

.usa-banner {
	display: none;
}

@media screen and (min-width: 951px) {

.usa-header-extended .usa-logo{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 5.6rem;
	background-image: url("sba/img/logos/atoms/logo/horizontal.svg");
}

.usa-nav-primary button:hover {
	background-color: $color-white;
	color: $color-sba-blue;
	padding-top: 17px;
}

.usa-nav-primary button[aria-expanded=true], .usa-nav-primary button[aria-expanded=true]:hover {
	background-color: $color-sba-blue;
	padding-top: 17px;
}

.usa-nav-submenu a:hover {
	background-color: $color-sba-gray-lighter;
	color: $color-sba-blue;
	text-decoration: none;
}

.usa-logo-text a{
	padding-left: 220px;
	line-height: 56px;
	font-size: 3.5rem
}

.usa-nav-submenu {
	background-color: $color-white;
	border: 1px solid $color-sba-gray-light;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
}


//Accordian

.usa-accordion-button {
	background-color: $color-white;
	border-top: 1px solid $color-sba-gray-light;
	font-weight: 600;
	font-size: 1.8rem;

}

.usa-accordion-button:hover {
	background-color: $color-sba-gray-lighter;
}



// Footer
.usa-footer-logo-heading {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2rem;
}

.usa-footer-primary-section {
	background-color: $color-sba-gray-lighter;
	display: none;
}

.usa-footer-secondary_section {
	background-color: $color-sba-gray-lighter;
}

.usa-footer .usa-footer-primary-link{
	font-weight: 500;

}

.usa-footer-contact-heading {
	font-size: 1.8 rem;
}

.usa-logo-manipulation-warning { 
  margin-top: 20px; 
  h4 { 
    color: $color-red-dark; 
    padding-top: 15px; 
  }
}

.usa-color-palette-block { 
  width: 100%; 
  &.small { 
    height: 254px; 
  }
  &.large { 
    height: 336px; 
  }
  
  &.red { 
    background-color: #cc0000;
  }
  &.blue { 
    background-color: #002e6d; 
  }
  &.grey { 
    background-color: #969696; 
  }
  &.white { 
    background-color: #ffffff;
    border: solid 1px #E5E4E4; 
  }
  &.secondary-1 { 
    background-color: #007dbc;
  }
  &.secondary-2 { 
    background-color: #1b1e29;
  }
  &.secondary-3 { 
    background-color: #197e4e;
  }
  &.secondary-4 { 
    background-color: #f1c400;
  }
}
.usa-color-palette-color-table { 
  margin-top: 1em; 
  margin-left: 0; 
  margin-bottom: 30px !important;
  tr, td, th { 
    border: none; 
  }
  th { 
    padding-left: 0; 
    padding-top: 0; 
  }
  td { 
    color: #4A4A4A; 
    padding: 0; 
    padding-right: 15px; 
  }
  th h3 { 
    margin: 0; 
  }
}

.brand-attributes-we-are-component { 
  margin-bottom: 30px; 
  .number { 
    float: left; 
    margin-right: 15px; 
    height: 48px; 
    width: 48px; 
    background-color: #E5E4E4;
    padding-top:8px; 
    text-align: center;
    h3 { 
      color: #007DBC; 
    }
  }
  h3, p { margin: 0}
  .heading { 
    float:left; 
    width: 75%;
  }
}

.usa-texture-block { 
  margin-top: 30px !important; 
}